@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

:root {
    --color-bg: #3b3b3b;
    --color-bg2: rgb(160, 160, 160);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pretendard;
}

body {
    background-color: rgb(27, 27, 27);
}

.container {
    width: 100%;
    height: 100vh;
    background : rgb(27, 27, 27);
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 { font-family: "Source Code Pro", monospace; font-weight: 900; }

.logo {
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 35%;
    pointer-events: none;
    }

.cont {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    height: 7%;
    background: var(--color-bg);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: var(--color-bg2);
}

::placeholder {
    color: white;
}

.search-bar button img{
    width: 25px;
}

.sbtn {
    background-color: transparent;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--color-bg);
    cursor: pointer;
}

.by {
    color: white;
    top: 50px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.by:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-bg2);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .by:hover:after { 
    width: 100%; 
    left: 0; 
  }